Source: wispi
Section: misc
Priority: optional
Maintainer: Tanuj Raghav <raghavtanuj.official@gmail.com>
Build-Depends: debhelper-compat (= 12), python3 (>= 3.8)
Standards-Version: 4.4.1
X-Python-Version: >= 3.8
Vcs-Git: https://github.com/tanujraghav/WiSpi.git

Package: wispi
Architecture: any
Depends: cron, curl, python3 (>=3.8), xxd, ${misc:Depends}
Description: Wireless Network Spyware
